body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1, h2, p {
  font-family: 'Barrio', cursive;
  font-weight: 400;
  color: #fff;
}

h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

a {
  text-decoration: none;
}

a:focus, a:hover {
  border-bottom: 1px solid;
}

.alt-header {
  color: #000;
}

.container {
  height: 504px;
  margin-bottom: 60px;
}

.evenHeader {
  padding-top: 60px;
  padding-left: 150px;
  padding-bottom: 35px;
}

.oddHeader {
  text-align: right;
  padding-top: 60px;
  padding-right: 150px;
  padding-bottom: 35px;
}

.logos {
  max-height: 125px;
  padding: 10px 15px;
}

.exLogos {
  border: 1px solid rgba(10, 10, 10, 0.0);
  transition: transform 100ms;
}

.exLogos:hover {
  border: 1px solid rgba(10, 10, 10, .2);
  box-shadow: 0 2px 2px 0 #d5dadd;
  position: relative;
  background-color: rgba(225, 225, 225, .2);
  z-index: 2;
  transform: scale(1.125);
}

.row1 {
  padding-left: 55px;
  padding-bottom: 20px;
}

.row2 {
  padding-left: 160px;
}

.nav {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid black;
}

.nav ul {
  display: inline;
  float: right;
  padding-right: 50px;
}

.nav li {
  display: inline;
  padding: 5px 10px;
}

.intro {
  background-color: #B22934;
  padding-top: 60px;
  margin-bottom: 60px;
  display: -webkit-box;
}

.image img {
  padding-left: 300px;
  max-height: 500px;
  height: auto;
  width: auto;
}

.image h1 {
  float: right;
  padding-top: 50px;
  padding-left: 60px;
}

.smaller {
  font-size: 25px;
  margin: 0px;
}

.writing {
  background-color: #FF5462;
  height: 504px;
  margin-bottom: 60px;
}

.career {
  background-color: #B2AE3B;
}

.career h1 {
  padding-bottom: 0px;
}

.career h3 {
  padding-right: 75px;
  padding-left: 75px;
  float: left;
}

.career li {
  padding: 5px;
}

.previousExp {
  background-color: #8DBFB1;
}

.experience {
  background-color: rgba(110, 204, 225, 0.28);
  padding-left: 20px;
}

.personal {
  background-color: #3286B2;
}

.contact {
  background-color: #FFFB6E;
  margin-bottom: 30px;
}

.contact h1 {
  padding-bottom: 0px;
}

.contactContent h2 {
  font-family: 'Barrio', cursive;
  font-weight: 400;
  padding-left: 310px;
  display: inline;
  float: left;
}

.contactContent h1 {
  float: left;
  padding-top: 50px;
  padding-left: 120px;
  font-size: 40px;
}

.contact h3 {
  font-family: 'Barrio', cursive;
  font-weight: 400;
  float: left;
  padding-left: 500px;
}

footer p{
  padding-right: 15px;
  letter-spacing: 2px;
  line-height: 25px;
  text-align: right;
  height: 34px;
  color: #000;
}

#hi {
  padding-top: 20px;
  font-size: 60px;
  height: 40px;
}

#prose {
  max-height: 250px;
  padding-left: 175px;
  width: auto;
}

#code {
  max-height: 250px;
  padding-left: 54px;
  width: auto;
}

#mixpanel {
  padding-bottom: 60px;
  max-width: 125px;
  padding-top: 45px;
}

#email {
  max-height: 275px;
  padding-left: 200px;
  float: left;
}

#resume {
  float: left;
  padding-left: 395px;
}

#resumeImage {
  max-height: 275px;
  float: left;
  padding-left: 150px;
}
