@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }
  }
}

.alt-header {
  color: rgba(0, 0, 0, 0.87);
}

.container {
  height: 1100px;

  @include breakpoint(laptop) {
	    height: 550px;
    }
}

.evenHeader {
  padding-top: 60px;
  padding-left: 50px;
  padding-bottom: 35px;

  @include breakpoint(laptop) {
    padding-left: 150px;
  }
}

.oddHeader {
  text-align: right;
  padding-top: 60px;
  padding-right: 50px;
  padding-bottom: 35px;

  @include breakpoint(laptop) {
    padding-right: 150px;
  }
}

.header {
  font-size: 3.25em;

  @include breakpoint(laptop) {
    font-size: 2em;
  }
}

.logos {
  max-height: 200px;
  padding: 5px 10px;

  @include breakpoint(laptop) {
    max-height: 125px;
    padding: 10px 15px;
  }
}

// .exLogos {
//   border: 1px solid rgba(10, 10, 10, 0.0);
//   transition: transform 100ms;
//
//   &:hover {
//     border: 1px solid rgba(10, 10, 10, .2);
//     box-shadow: 0 2px 2px 0 #d5dadd;
//     position: relative;
//     background-color: rgba(225, 225, 225, .2);
//     z-index: 2;
//     transform: scale(1.125);
//   }
// }

.row1 {
  padding-left: 20px;
  padding-bottom: 7px;

  @include breakpoint(laptop) {
    padding-left: 55px;
    padding-bottom: 20px;
  }
}

.row2 {
  padding-left: 20px;

  @include breakpoint(laptop) {
    padding-left: 160px;
  }
}

.intro {
  background-color: #9B26AF;
  padding-top: 100px;
  display: block;
}

.image {
  position: absolute;
  z-index: 1;

  img {
    padding-left: 125px;
    padding-top: 110px;
    height: auto;
    width: auto;

    @include breakpoint(laptop) {
      padding-left: 300px;
      max-height: 535px;
      padding-top: 0px;
    }
  }

  h1 {
    padding-left: 275px;
    padding-top: 775px;
    font-size: 60px;
    float: right;
    z-index: 1;

    @include breakpoint(laptop) {
      padding-left: 760px;
      padding-top: 175px;
      font-size: 40px;
      float: right;
      z-index: 1;
    }
  }
}

.smaller {
  font-size: 25px;
  margin: 0px;
}

.writing {
  background-color: #FF5462;
}

.career {
  background-color: #B2AE3B;

  h1 {
    padding-bottom: 0px;
  }

  h3 {
    padding-right: 75px;
    padding-left: 75px;
    font-size: 30px;
    float: left;

    @include breakpoint(laptop) {
      font-size: 1.17em;
    }
  }

  li {
    padding: 5px;
  }
}

.previousExp {
  background-color: #8DBFB1;
  margin-top: 21.44px;
}

.head {
  padding-bottom: 10px;
  width: 100%;
  height: 200px;
}

.column {
  float: left;
  padding-left: 50px;
  width: 250px;
  text-align: center;

  h1 {
    padding-left: 25px;
  }

  h2 {
    padding-left: 25px;
    font-size: 30px;

    @include breakpoint(laptop) {
      padding-left: 55px;
      font-size: 1.5em;
    }
  }

  img {
    padding-left: 25px;
    max-height: 210px;

    @include breakpoint(laptop) {
      padding-left: 50px;
      max-height: 150px;
    }
  }

  &.resourceful,
  &.analytics,
  &.learning,
  &.testing {
    padding-left: 200px;

    @include breakpoint(laptop) {
      padding-left: 50px;
    }
  }

  &.resourceful,
  &.agile,
  &.learning,
  &.self-starting {
    font-size: 50px;

    @include breakpoint(laptop) {
      font-size: 1.5em;
    }
  }
}

.experience {
  background-color: rgba(110, 204, 225, 0.28);
  padding-left: 20px;
}

.personal {
  background-color: #3286B2;

  img {
    padding-left: 50px;

    @include breakpoint(laptop) {
      max-height: 150px;
    }
  }
}

.contact {
  background-color: #FFFB6E;
  margin-bottom: 30px;
  height: 1750px;

  @include breakpoint(laptop) {
    height: 550px;
  }

  h1 {
    padding-bottom: 0px;
  }
}

.contactContent {
  text-align: center;
  font-size: 20px;

  .email {
    padding-left: 180px;
    float: left;
  }

  h1 {
    padding: 50px 450px;
    font-size: 50px;
    float: left;

    @include breakpoint(laptop) {
      padding: 150px;
    }
  }

  h2 {
    font-family: 'Barrio', cursive;
  }

  .resume {
    padding-left: 265px;
    float: left;

    @include breakpoint(laptop) {
      padding-left: 0;
    }
  }
}

#hi {
  padding-left: 650px;
  padding-top: 200px;
  font-size: 90px;
  height: 40px;
  position: absolute;
  z-index: 1;

  @include breakpoint(laptop) {
    padding-left: 650px;
    padding-top: 20px;
    font-size: 70px;
    height: 40px;
  }
}

#prose {
  padding-left: 200px;
  max-width: 583px;
  width: auto;
}

#code {
  padding-left: 200px;
  padding-top: 50px;
  width: auto;

  @include breakpoint(laptop) {
    padding-left: 54px;
    padding-top: 0px;
  }
}

#mixpanel {
  padding-bottom: 60px;
  max-width: 125px;
  padding-top: 45px;
}

#sherpa {
  width: 900px;
  float: left;
  padding-bottom: 20px;

  @include breakpoint(laptop) {
    padding-bottom: 35px;
  }
}

#cardboard {
  float: left;
  padding-top: 70px;
}

#email {
  max-height: 540px;

  @include breakpoint(laptop) {
    max-height: 275px;
  }
}

#resumeImage {
  max-height: 540px;

  @include breakpoint(laptop) {
    max-height: 275px;
  }
}

#e-learning {
  padding-bottom: 30px;
  padding-left: 50px;
  max-height: 200px;
  float: right;
}
